
.vs/BloggieMVC/DesignTimeBuild/.dtbcache.v2
.vs/BloggieMVC/FileContentIndex/dc268f45-ccf4-438b-9fed-4215666cf40c.vsidx
.vs/BloggieMVC/v17/DocumentLayout.json
.vs/BloggieMVC/v17/.futdcache.v2
.vs/BloggieMVC/v17/.suo
Bloggie.Web/obj/Bloggie.Web.csproj.nuget.dgspec.json
Bloggie.Web/obj/Bloggie.Web.csproj.nuget.g.props
Bloggie.Web/obj/Debug/net8.0/apphost.exe
Bloggie.Web/obj/Debug/net8.0/Bloggie.Web.AssemblyInfo.cs
Bloggie.Web/obj/Debug/net8.0/Bloggie.Web.AssemblyInfoInputs.cache
Bloggie.Web/obj/Debug/net8.0/Bloggie.Web.assets.cache
Bloggie.Web/obj/Debug/net8.0/Bloggie.Web.csproj.FileListAbsolute.txt
Bloggie.Web/obj/Debug/net8.0/Bloggie.Web.dll
Bloggie.Web/obj/Debug/net8.0/Bloggie.Web.GeneratedMSBuildEditorConfig.editorconfig
Bloggie.Web/obj/Debug/net8.0/Bloggie.Web.genruntimeconfig.cache
Bloggie.Web/obj/Debug/net8.0/Bloggie.Web.pdb
Bloggie.Web/obj/Debug/net8.0/Bloggie.Web.sourcelink.json
Bloggie.Web/obj/project.nuget.cache
Bloggie.Web/obj/project.assets.json
Bloggie.Web/obj/Debug/net8.0/staticwebassets.pack.json
Bloggie.Web/obj/Debug/net8.0/staticwebassets.development.json
Bloggie.Web/obj/Debug/net8.0/staticwebassets.build.json
Bloggie.Web/obj/Debug/net8.0/refint/Bloggie.Web.dll
Bloggie.Web/obj/Debug/net8.0/ref/Bloggie.Web.dll
Bloggie.Web/obj/Debug/net8.0/project.razor.vscode.bin
Bloggie.Web/obj/Debug/net8.0/Bloggie.Web.pdb
Bloggie.Web/obj/Debug/net8.0/Bloggie.Web.genruntimeconfig.cache
Bloggie.Web/obj/Debug/net8.0/Bloggie.Web.GeneratedMSBuildEditorConfig.editorconfig
Bloggie.Web/obj/Debug/net8.0/Bloggie.Web.dll
Bloggie.Web/obj/Debug/net8.0/Bloggie.Web.csproj.FileListAbsolute.txt
Bloggie.Web/obj/Debug/net8.0/Bloggie.Web.assets.cache
Bloggie.Web/obj/Debug/net8.0/Bloggie.Web.AssemblyInfoInputs.cache
Bloggie.Web/obj/Debug/net8.0/Bloggie.Web.AssemblyInfo.cs
Bloggie.Web/obj/Debug/net8.0/apphost.exe
Bloggie.Web/obj/Bloggie.Web.csproj.nuget.g.props
Bloggie.Web/obj/Bloggie.Web.csproj.nuget.dgspec.json
Bloggie.Web/bin/Debug/net8.0/Bloggie.Web.staticwebassets.runtime.json
Bloggie.Web/bin/Debug/net8.0/Bloggie.Web.pdb
Bloggie.Web/bin/Debug/net8.0/Bloggie.Web.exe
Bloggie.Web/bin/Debug/net8.0/Bloggie.Web.dll
.vs/ProjectEvaluation/bloggiemvc.projects.v7.bin
.vs/ProjectEvaluation/bloggiemvc.metadata.v7.bin
.idea/.idea.BloggieMVC/.idea/.name
.idea/.idea.BloggieMVC/.idea/aws.xml
.idea/.idea.BloggieMVC/.idea/indexLayout.xml
.idea/.idea.BloggieMVC/.idea/encodings.xml
.vs/BloggieMVC/FileContentIndex/163d56db-2566-43ab-80e5-86a6f09a1304.vsidx
.vs/BloggieMVC/config/applicationhost.config
Bloggie.Web/bin/Debug/net8.0/Bloggie.Web.pdb
Bloggie.Web/bin/Debug/net8.0/Bloggie.Web.dll
.vs/BloggieMVC/FileContentIndex/badc355e-97ee-4bd5-ad03-ad5735cc938e.vsidx
.vs/BloggieMVC/FileContentIndex/465d6595-60a4-412a-9298-e2558d6dbe75.vsidx
.vs/BloggieMVC/FileContentIndex/39bf78a8-eafd-4d63-b8dd-b9c2c24993aa.vsidx
.idea/.idea.BloggieMVC/.idea/vcs.xml
Bloggie.Web/obj/rider.project.restore.info
Bloggie.Web/obj/project.packagespec.json
Bloggie.Web/obj/project.assets.json
Bloggie.Web/obj/project.nuget.cache
Bloggie.Web/obj/project.assets.json
Bloggie.Web/obj/Debug/net8.0/refint/Bloggie.Web.dll
Bloggie.Web/obj/rider.project.model.nuget.info
Bloggie.Web/obj/Debug/net8.0/project.razor.vs.bin
Bloggie.Web/obj/project.nuget.cache
Bloggie.Web/obj/project.assets.json
